{% extends 'shop/base.html' %}

{% block content %}

<h3>{{ product.title }}</h3>

<img src="{{ product.image.url }}" height=150>

<p>{{ product.description }}</p>
<h4>цена: {{ product.price }}</h4>

<h4>Количество на складе: {{ product.quantity }}</h4>


<form action="{% url 'cart_add' product.id %}" method="post">
  {% csrf_token %}
  <p>
    Количество:
    <input type="number" name="product_quantity" value="1" min="1" max="10" size="2">
    <button name="add_to_cart">Добавить в корзину</button>
  </p>
</form>


{% endblock %}